.about
	background: url("../img/about_back.jpg") center 0px fixed
	min-height: 700px
	background-size: cover
	text-align: center
	h2
		color: $col_wh
.tab 
	padding: 50px
	margin: 0px 0 20px 0!important
	position: relative
	background: rgba(0, 0, 0, 0.7)
    margin: 0 auto
	line-height: 1.5
	font-weight: 300
	color: #888
	-webkit-font-smoothing: antialiased
.tabs 
	display: table
	position: relative
	overflow: hidden
	margin: 0
	padding: 0
	width: 100%
	li 
		float: left
		line-height: 38px
		overflow: hidden
		padding: 0
		position: relative
		a 
			background-color: $font_head_hov
			border-bottom: 1px solid $font_head_hov
			color: $font_menu
			font-weight: 700
			display: block
			letter-spacing: 0
			outline: none
			padding: 0 20px
			text-transform: uppercase
			text-decoration: none
			-webkit-transition: all 0.2s ease-in-out
			-moz-transition: all 0.2s ease-in-out
			transition: all 0.2s ease-in-out
			border-bottom: 2px solid $font_head_hov
.tabs_item 
	display: none
	padding: 30px 0
	h4 
		font-weight: bold
		color: $col_gr
    	font-size: 20px
	img 
		width: 50%
		float: left
		margin-right: 30px
	&:first-child 
		display: block
	p
		text-align: justify
.current 
	a 
		color: #fff!important
		background-color: $col_gr!important
	
