.advants 
	>h2
	text-align: center	
.advants_wrap
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap
.advants_item
	width: 30%
	margin: 0 0 50px 50px
	&:first-child
		margin-left: 0px
	&:nth-child(4n)
		margin-left: 0px
	p
		text-align: justify
.items_header
	display: flex
	flex-direction: row
	justify-content: flex-start
	i
		font-size: 40px
		line-height: 40px
		color: $font_head_hov
		margin-right: 10px
	h4
		margin: 12px 0 0
