.testimonials
    background-color: #2e404d
    h2
      color: $col_wh
.carousel_wrap
  width: 100%
  min-height: 400px
  margin-left: 17%
  position: relative
.carousel
  li 
    background-color: rgba(0, 0, 0, 0.7)
    width: 60%
    display: flex
    flex-direction: row
    justify-content: center
    padding: 40px 0
    +transition(all, 0.3s, ease-in-out)
    overflow: hidden

.items 
  position: absolute
.items_descr
  width: 80%
  img
    border-radius: 50%
    width: 25%
    margin-bottom: 30px
  p
    margin: 0
    font-style: italic
  span
    +sect_p($default-font, 20px, 30px)
    font-style: italic
    color: $col_wh


.main-pos 
  margin-left: 3% 
  z-index: 98
  /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/


.left-pos 
  opacity: .3
  margin-left: -24%
  z-index: 95
  transform: scale(.75)


.back-pos 
  margin-left: 2em 
  opacity: .05
  transform: scale(.5)


.right-pos 
  opacity: .3
  margin-left:  29.5%
  z-index: 95
  transform: scale(.75)
