@import "fonts"
@import "libs"
@import "vars"
@import "head"
@import "advants"
@import "about"
@import "work"
@import "testimonials"
@import "team"
@import "in_touch"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: $font_col
p
	margin: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto
h1
	+sect_h1($default-bold, 60px, 60px, 2px, uppercase)

h2
	+sect_h1($default-bold, 40px, 40px, 2px, none)
	color: $font_col
	position: relative
	display: inline-block
	margin: 0 0 120px
	&::before
		content: ""
		position: absolute
		border-top: 1px solid $font_head_hov
		width: 50%
		top: 50px
		left: 0%
	&::after
		content: ""
		position: absolute
		border-top: 1px solid $font_head_hov
		width: 50%
		top: 60px
		left: 50%

h3
	+sect_h1($default-font, 30px, 30px, 2px, none)
	margin: 0
h4
	+sect_h1($default-font, 25px, 25px, 1px, none)
	margin: 0
	text-align: center
h5
	+sect_h1($default-font, 18px, 18px, 2px, uppercase)
	margin: 0
	text-align: center
section
	padding: 70px 0 80px
	text-align: center
ul
	list-style-type: none
	padding: 0
	margin: 0
.clear
	clear: both

@import "media" // Всегда в конце
